* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #555;
  padding: 0;
  margin: 0;
}
.navbar {
  margin: 0;
  width: 100%;
  padding-top: 10px;
  background: #eee;
}
.navbar .container {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
.navbar .container ul {
  padding-left: 0;
}
.navbar .container ul li {
  list-style: none;
  padding: 0.5rem;
}
.navbar .container ul li a {
  text-decoration: none;
  color: #155091;
  padding: 0.5rem;
}
.navbar .container ul li a:hover {
  color: #49783c;
}
.navbar .container .logo img {
  width: 75%;
}

.banner-section {
  width: 100%;
}
.banner-section {
  width: 95%;
  margin: 0 auto;
}

h1 {
  color: #155091;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.banner {
  text-align: center;
}

.banner p {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0;
}
.banner ul {
  font-size: 0.8rem;
  text-align: left;
  list-style: none;
}
button {
  display: inline-block;
  border: none;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  background: #155091;
  color: #ffffff;
  /* font-family: sans-serif; */
  font-size: 0.8rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
}
button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
.banner img {
  width: 100%;
}

h3 {
  color: #155091;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 0.9rem;
  padding: 1rem;
}
.third-section p {
  font-size: 0.9rem;
  padding: 1rem;
}

#two-of-two ul li {
  font-size: 0.9rem;
}

footer {
  width: 100%;
  max-height: 100px;
  background: #777;
  /* clear: both; */
  text-align: center;
  position: absolute;
}
footer .footer-logo img {
  width: auto;

  /* display: inline-block; */
}
footer p {
  /* display: inline; */
  color: #eee;
  padding: 0 0 0.3rem 0;
  margin: 0;
  font-size: 0.8rem;
}

/*=============================================
           Media Query  size 481px and 1023px       
=============================================*/
@media all and (min-width: 481px) and (max-width: 1023px) {
  .navbar .container ul li {
    display: inline;
  }
}

/*=============================================
           Media Query  size 1024 and above    
=============================================*/
@media all and (min-width: 1024px) {
  .navbar {
    width: 100%;
    height: 100px;
    box-shadow: 0 6px 6px -4px #49783c;
    margin-bottom: 2rem;
  }
  .container {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    position: relative;
  }
  .navbar .container .logo {
    display: inline-block;

    position: absolute;
    bottom: 5px;
    left: 0;
    color: yellowgreen;
    padding-bottom: 10px;
  }
  .container .logo img {
    width: 70%;
  }
  .navbar .container .nav-items {
    font-weight: 500;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .navbar .container .nav-items ul {
    padding-bottom: 0;
  }
  .navbar .container .nav-items ul li {
    display: inline;
    padding: 0.5rem;
    list-style: none;
  }
  .navbar .container .nav-items ul li a {
    text-decoration: none;
    color: #155091;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .navbar .container .nav-items ul li a:hover {
    color: #c1d62e;
  }
  .banner-section {
    max-height: 400px;
    margin-bottom: 4rem;
  }
  .banner {
    width: 95%;
    max-width: 1200px;
    height: 300px;
    margin: 0 auto;
    padding: 1rem;
    background: #eee;
  }
  .banner .left-side {
    width: 40%;
    height: 100%;
    float: left;
    /* padding-left: 1rem; */
  }
  h1 {
    color: #155091;
    text-align: center;
    font-size: 1.6rem;
  }
  p {
    font-size: 0.9rem;
  }

  .banner .right-side {
    width: 60%;
    height: 100%;
    float: right;
    padding: 0;
  }
  .banner .left-side ul li {
    list-style: none;
    text-align: left;
  }

  .banner .right-side img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0;
    box-shadow: 6px 6px 4px -2px #777;
  }

  /* .third-container {
    width: 90%;
    margin: 0 auto;
  } */

  /* .third-container .center {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    line-height: 1.8rem;
    font-size: 1rem;
  } */
  .last-para {
    width: 100%;
    height: auto;
    max-height: 300px;
  }
  .last-para #one-of-two {
    float: left;
    width: 50%;
    /* padding: 3rem; */
    font-size: 1rem;
  }
  .last-para #two-of-two {
    float: right;
    width: 50%;
    /* padding: 3rem; */
  }
  .last-para #two-of-two ul li {
    font-size: 0.9rem;
  }

  .last-para h3 {
    color: #155091;
    font-weight: 300;
    font-size: 1.5rem;
  }
  footer {
    width: 100%;
    height: 100px;
    background: #777;
    clear: both;
    text-align: center;
    position: relative;
  }
}
/*=====  End of Media Query  ======*/
